@media screen and (min-width: 576px) {
  #hrline {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 0%;
  }

  #name {
    color: #ffa500;
    font-family: "Comfortaa", cursive;
    font-size: 3vw;
    margin-top: 8%;
  }

  #mobileProfile {
    display: none;
  }
  #profpic {
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    border: 3px inset #edeade;
    border-radius: 2%;
  }
  #sideBox {
    margin-left: 5%;
    margin-right: 5%;
    border-color: #048bc2 !important;

    padding-top: 1%;
  }
  #profimg {
    border-radius: 1%;
  }

  #contactInfo {
    margin-left: 8%;
    margin-top: 10%;
  }
  .contentBox {
    background-color: #edeade;
    margin-left: 10%;
    padding-top: 8%;
    padding-bottom: 2%;
  }
  #mobileContentStyle {
    display: hidden;
  }
  .sideText {
    font-size: 1.2vw;
  }
  .pText {
    font-size: 1.3vw;
    color: #edeade;
    font-family: "Comfortaa", cursive;
    margin-top: 5%;
    padding-bottom: 3%;
    margin-left: 10%;
  }
  #contactText {
    color: #ffa500;
    font-size: 2.2vw;
  }
  .contactBox {
    padding-top: 6%;
    display: flex;
    align-items: center;
  }
  .box {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 2%;
    padding-bottom: 1%;
  }
  #bgstyle {
    background-color: #212834;
  }
  #aboutText {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
